{
  "presets": [
    "react"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": [
          "./src"
        ],
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ]
  ]
}
